name: bus_number
channels:
  - conda-forge
dependencies:
  - pip
  - pip:
    - -e .
  - setuptools
  - wheel
  - flake8
  - sphinx
  - click
  - coverage
  - pytest-cov
  - awscli
  - python-dotenv>=0.5.1
  - jupyter
  - scikit-learn
  - joblib
  - nb_conda
  - nbdime
  - nbval
  - pandas
  - requests
  - python>=3.6

